.container {
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    background: rgb(189,9,183);
    background: linear-gradient(180deg, rgba(189,9,183,1) 40%, rgba(107,76,245,1) 70%);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.formulario input {
    width: 100%;
    padding: 7px;
    align-items: center;
    position: relative;
    right: 1%;
}

select {
    width: 100%;
    padding: 7px;
}

.submit-btn button {
    color: black;
    padding: 5px 15px;
    position: absolute;
    right: 6%;
    bottom: 1%;
}
